.navm {

    text-align: center;
    margin: 0 auto;
}

.main-desc {
    margin-top: 10%;
    padding-left: 50px;

}

.text-desc {
    text-align: left;
    font-size: 50px;
}

.body-dashboard {
    background-color: hsl(0, 35%, 94%)
}

.card {
    text-align: center;

}